:root {
  --lightestgreen: #cdddb7;
  --lightgreen: #b7bd97;
  --lightbrown: #858377;
  --darkbrown: #65666c;
  --darkest: #4e4e64;
}

.cards {
  padding: 50px;
}

.iconBox {
  height: 30%;
  position: relative;
  padding: 40px;
  background-color: #cdddb7 !important;
}

.icon {
  display: flex;
  margin: auto;
  height: 50%;
  left: 50%;
  background-color: #cdddb7;
  position: initial;
}

.cardBody {
  height: 30%;
  background-color: #b7bd97;
  text-align: center;
}

.button {
  background-color: #65666c !important;
  color: #cdddb7 !important;
}

#email {
  color: var(--lightestgreen)
}

#message {
  color: var(--lightestgreen) !important;
}

#text {
  color: var(--lightgreen) !important;
}

#button {
  background-color: var(--darkbrown);
}