:root {
  --lightestgreen: #cdddb7;
  --lightgreen: #b7bd97;
  --lightbrown: #858377;
  --darkbrown: #65666c;
  --darkest: #4e4e64;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

header {
  height: 200px;
}

h1 { 
  border: var(--darkbrown) 2px solid;
  padding: 5px;
}

p {
  font-size: 20px;
}

.center {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  color: white;
}

.nav {
  color: #4e4e64 !important;
  font-size: large;
}