:root {
  --lightestgreen: #cdddb7;
  --lightgreen: #b7bd97;
  --lightbrown: #858377;
  --darkbrown: #65666c;
  --darkest: #4e4e64;
}

.footer {
  background: var(--lightestgreen);
  position: relative;
  height: 50px;
  padding: 10px;
}

h3 {
  color: #4e4e64;
  text-align: center;
  font-size: 18px;
}