:root {
  --lightestgreen: #cdddb7;
  --lightgreen: #b7bd97;
  --lightbrown: #858377;
  --darkbrown: #65666c;
  --darkest: #4e4e64;
}

body { 
  background-image: url('http://wallpapercave.com/wp/9T98KIP.jpg');
  background-repeat: repeat-x;
}

.body {
background-color: #4e4e64 !important;
}

.section {
  position: relative;
  margin: auto;
  background-image: url('http://wallpapercave.com/wp/9T98KIP.jpg');
  background-position-y: 31%;
  padding: 40px;
}

.about {
  text-align: center;
  margin: auto;
  height: 200px;
  width: 50%;
  background-color: rgba(183, 189, 151, 0.8);
  padding: 40px;
}

#me {
  height: 100px;
}